<ion-view view-title="Spice Shack">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Our Lipsmacking Culinary Creations
        <span class="badge badge-assertive">{{promoDish.label}}</span>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img ng-src="{{imgURL + promoDish.image + imgTail}}" alt="{{promoDish.name}}">
        <h2>{{promoDish.name}}</h2>
        <h4>{{promoDish.price | currency}}</h4>
        <p>{{promoDish.description}}</p>
      </div>
    </div>
    <div class="card">
        <div class="item item-divider">
          This Month's Promotions
          <span class="badge badge-assertive">{{promotion.label}}</span>
        </div>
        <div class="item item-thumbnail-right item-text-wrap">
             <img ng-src="{{imgURL + promo.image + imgTail}}" alt="{{promo.name}}">
              <h2>{{promo.name}}</h2>
              <h4>{{promo.price | currency}}</h4>
              <p>{{promo.description}}</p>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
          Meet our Culinary Specialists
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
             <img ng-src="{{imgURL + promoLeader.image + imgTail}}" alt="{{promoLeader.name}}">
              <h2>{{promoLeader.name}}</h2>
              <h4>{{promoLeader.designation}}</h4>
              <p>{{promoLeader.description}}</p>
        </div>
    </div>
  </ion-content>
</ion-view>
